<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
<!--    xmlns="http://logging.apache.org/log4j/2.0/config"-->

    <Properties>
        <Property name="LOG_PATTERN">
            %d{HH:MM:ss:SSS} [%t] %-5level %-50c{1.} - %msg %n
        </Property>
        <Property name="LOG_DIR">
            ${sys:user.home}/OneDrive/Desktop/codes/sec/project/target/logs/securityLog.log
        </Property>
    </Properties>

    <Appenders>
        <RollingFile name="RollingFile"
                     fileName="${sys:user.home}/OneDrive/Desktop/codes/sec/project/target/logs/security.log"
                     filePattern="${sys:user.home}/OneDrive/Desktop/codes/sec/project/target/logs/security-%d{MM-dd-yyyy}-%i.log.gz"
                     ignoreExceptions="false">

            <!--            <PatternLayout pattern="${LOG_PATTERN}"/>-->
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>

            <!--            <Policies>-->
            <!--                <TimeBasedTriggeringPolicy interval="1" modulate="true" />-->
            <!--            </Policies>-->
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="5">
                <Delete basePath="${LOG_DIR}" maxDepth="2">
                    <IfFileName glob="*/app-*.log.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

    </Appenders>

<!--    <File name="File" fileName="log.log">-->
<!--        <PatternLayout pattern="%d{HH:MM:ss:SSS} [%t] %-5level %-50c{1.} - %msg %n" />-->
<!--    </File>-->

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>